body {
  background-color: #30332e;
  color: #f4f4f4;
}

section.form-container {
  display: block;
  width: 15vw;
  margin: auto;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #356568;
}

nav {
  background-color: #aa0367;
}

nav li {
  display: inline-flex;
  background-color: #30332e;
  padding: 0.5em;
  margin: 0.25em;
  color: #f4f4f4
}

nav li:hover {
  background-color: #f4f4f4;
  color: #aa0367;
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-align: left;
  font-size: 4em;
  padding: 0.1em;
}

h1 a:hover {
  text-decoration: none;
  color: #aa0367;
}

h2 {
  font-size: 2.2em;
}

h2.error {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1em;
}

img {
  margin: 1em;
}

footer {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  padding-right: 5.5em;
  font-size: 1.5rem;
}

footer.merchant {
  font-size: 1em;
  padding-right: 24em;
}

.button {
  width: 75%;
  margin: auto;
}
