<table>
  <tr>
    <th>Category</th>
    <th>Total Spent</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <% total = category.total_amount_spent %>
      <% pounds = Transaction.amount_pounds_to_display(total) %>
      <% pence = Transaction.amount_pence_to_display(total) %>
      <td>£<%= pounds %>.<%= pence %></td>
    </tr>
  <% end %>
</table>
