<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Total Spent</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <% total = category.total_amount_spent %>
      <% pretty_total = Utilities.display_pounds_pence(total) %>
      <td><%= pretty_total %></td>
    </tr>
    <% end %>
  </tbody>
</table>
