<a href="/transactions/total">Total spent</a>
<table>
  <tr>
    <th>Merchant</th>
    <th>Category</th>
    <th>Amount</th>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.merchant().name %></td>
      <td><%= transaction.category().name %></td>
      <td><%= Transaction.display_pounds_pence(transaction.amount.to_i) %></td>
      <td>
        <form method="get" action="/transactions/<%= transaction.id %>/edit">
          <input type="submit" value="Edit Transaction">
        </form>
      </td>
    </tr>
  <% end %>
</table>
