<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CashDash</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/structure.css">
    <link rel="stylesheet" href="/styles/tables.css">
    <link rel="stylesheet" href="/styles/forms.css">
  </head>
  <body>
    <header>
      <h1><a href="/">CashDash</a></h1>
    </header>
    <nav>
      <ul>
        <a href="/transactions"><li>View All Transactions</li></a>
        <a href="/transactions/new"><li>Add New Transaction</li></a>
        <a href="/categories"><li>Display Categories</li></a>
        <a href="/merchants"><li>Edit Merchants</li></a>
        <a href="/budget"><li>Set Monthly Budget</li></a>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
